streamlit==1.37.1
google-genai==1.28.0
chromadb==0.5.5
sentence-transformers==3.0.1
langchain==0.2.11
langchain-text-splitters==0.2.2
pypdf==4.3.1
python-dotenv==1.0.1
protobuf==4.25.3
torch==2.3.1
torchvision==0.18.1 
torch==2.2.2
sentence-transformers==2.7.0
transformers==4.41.2